.QuanLy {
  background-color: #fff;
}

.QuanLy-container {
  margin: 90px auto;
}

.QuanLy-header {
  height: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}

.QuanLy-header .button {
  padding: 10px 20px;
}

.QuanLy-content {
  margin: 20px 0px;
  height: 50vh;
  overflow: auto;
}
